/* Style the buttons */
li {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;

}

/* Style the active class (and buttons on mouse-over) */
.active, {
  background-color: grey;
  color: white;
  font-weight: bold;
}

li:hover {
background-color: lightgrey;
    
}

a{
      color: black;
}